/* Provide sufficient contrast against white background */
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.delete-button {
  color: rgb(255, 28, 28);
  border: none;
  font-size: 0.85rem;
}

.centered-text {
  text-align: center;
}

.form-input {
  margin: 1rem;
}

.form-input-row {
  margin-right: 1rem;
}

.number-select {
  width: 5rem;
}

.quiz-form {
  margin-top: 1rem;
}