/* Provide sufficient contrast against white background */
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.centered-text {
  text-align: center;
}

.form-input {
  margin: 1rem;
}

.form-input-row {
  margin-right: 1rem;
}

.number-select {
  width: 5rem;
}