/* Provide sufficient contrast against white background */
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.edit-button {
  border: none;
  font-size: 1rem;
  background: none;
}

.delete-button {
  color: rgb(255, 28, 28);
  border: none;
  font-size: 1rem;
  background: none;
}

.centered-text {
  text-align: center;
}

.form-input {
  margin: 1rem;
}

.form-input-row {
  margin-right: 1rem;
}

.number-select {
  width: 5rem;
}

.quiz-form {
  margin-top: 1rem;
}

.edit-input {
  height: 1.6rem;
  margin-left: 1rem;
}

.content-card {
  background-color: aliceblue;
}

.quiz-title {
  margin: 0
}